@import "../mixins";
@import "../variables";
#header {
  background-color: $cream;
  padding: 2% 0;

  .icon-three-bars {
    color: $color;
    font-size: $size-menu;
  }
}

#header {
  .navbar-toggler {
    &:active, &:focus {
      outline: none;
    }
  }
  .active-nav {
    background-color: $yellow;
  }
  ul {
    li {
      margin: 0 10px 10px;

      &:hover {
        background-color: $yellow;
      }

      a {
        @include menu-item;
        color: $color;

        &:hover {
          background-color: $yellow;
        }
      }
    }
  }
}

.indent {
  padding: 0;
  margin: 0;
}

.section-headline {
  width: 100%;
  background: url("../../img/img-portfolio/slider-bg.webp") no-repeat center / cover;
  padding: 5% 0;
  h2 .headline {
    font-size: $smaller;
    color: $yellow;
    background-color: $color;
    padding: 15px 100px 15px 15px;
  }
}
#portfolio {
  background-color: $cream;
  padding: 4% 0;

  .hide {
    display: none;
  }

  .portfolio-headline {
    @include dev-headline;
  }

  .portfolio-title {
    @include dev-title;
  }

  #filters {
    .btn-filter {
      font-size: $smaller;
      font-weight: 600;
      color: $color;
      border: none;
      background-color: transparent;
      padding: 2px 4px;
      margin: 1px;

      &:active, &:focus {
        outline: none;
      }

      &:hover {
        background-color: $yellow;
      }
    }

    .is-checked {
      background-color: $yellow;
      border: none;
    }
  }
}

.portfolio-list {
  padding: 3% 0;

  .portfolio-item {
    padding: 10px;
    border: none;
    .photo {
      width: 100%;
    }
    .portfolio-layer {
      margin: 10px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $yellow;
      -webkit-transition: 0.8s linear;
      -o-transition: 0.8s linear;
      transition: 0.8s linear;
      opacity: 0;

      .arrow {
        width: 50%;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }

        .icon-arrow {
          font-size: 2em;
          color: $white;
          background-color: $color;
          padding: 30px;
        }
      }
    }
    &:hover .portfolio-layer {
      opacity: 0.7;
    }
  }
}
#footer {
  background-color: $color;
  .footer-headline {
    @include footer-headline;
  }
  .footer-text {
    @include footer-text;
  }
  .footer-btn {
    @include btn;
  }
  .photo-stream {
    padding: 1%;
  }
  .footer-center {
    overflow: hidden;
  }
  ul .twitter-list {
    &:before {
      content: "";
      background-image: url("../../img/twitter-con.webp");
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      display: block;
      padding-right: 40px;
      margin-top: 10px;
    }
    .twitter-link {
      @include twitter-link;
    }
    .days-ago {
      @include twitter-link;
      font-size: $extra-small;
    }
  }
  .icon-style {
    @include icon-style;

    &:hover {
      -webkit-filter: invert(0.8);
      filter: invert(0.8);
    }
  }

  .address-list {
    &:before {
      content: "";
      background-image: url("../../img/adress.webp");
      @include list-icon;
    }
  }
  .phone-list {
    &:before {
      content: "";
      background-image: url("../../img/phone.webp");
      @include list-icon;
    }
  }
  .mail-list {
    &:before {
      content: "";
      background-image: url("../../img/email.webp");
      @include list-icon;
    }
  }
  .mail-link {
    @include twitter-link;
  }
  .form-style {
    @include form-style;
  }
  .follow-btn {
    border: none;
    background-color: $black;
    padding: 0;
    &:active, &:focus {
      outline: none;
    }
    .icon-input {
      font-size: 1.2em;
      color: $white;
      padding: 5px 5px 0 5px;
      background-color: $black;
    }
  }
  .footer-menu {
    background-color: $black;
    padding: 10px 0;
    .footer-menu-title {
      @include footer-text;
      a {
        color: $white;
      }
    }
    .footer-nav {
      padding: 5% 0;
      a {
        color: $white;
        font-size: $smaller;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  #header {
    ul a {
      padding: 25px 9px;
    }
  }
  .section-headline {
    padding: 2% 0;
    h2 .headline {
      font-size: $small;
    }
  }

  #portfolio {
    .portfolio-headline {
      font-size: $big;
    }
    .portfolio-title {
      font-size: $normal;
    }
    #filters {
      .btn-filter {
        font-size: $small;
        margin: 10px;
      }
    }
  }

  #footer {
    .middle {
      line-height: 1;
    }
    .footer-text {
      font-size: $footer;
    }
    .days-ago {
      font-size: $extra-small;
    }
  }
}

@media (min-width: 992px) {
  #footer {
    .footer-text {
      font-size: $smaller;
    }
    .middle {
      line-height: 1.7;
    }
  }
}
